<div id="dlg-coinhive" style="position: absolute; top: 0; left: 0; right: 0; background-color: white; border-bottom: 10px solid #253e80;">
  <div style="position: relative; max-width: 900px; margin-left: auto; margin-right: auto; padding: 15px;">
    <h2>Hilf mir, bitte!</h2>
    <p>Wenn dich der Inhalt dieser Seite interessiert, dann unterstütze mich bitte. Lass einen Coinhive-Miner im Hintergrund laufen. Wenn du mobil unterwegs bist, klicke einfach auf "Nein, Danke" - ansonsten wauml;re ich sehr dankbar, wenn du auf "Ja" klickst.</p>
    <p>Coinhive verwendet deinen Browser um ein paar Hashes zu generieren. Sobald du die Seite verlässt, stoppt das Skript. Es ist vouml;llig <b>ungefauml;hrlich</b>. Bist du einverstanden, dass der Miner gestartet wird?</p>
    <div style="text-align: right;">
      <button id="btn-no-coinhive">Nein, Danke</button> <button id="btn-yes-coinhive">Ja!</button>
    </div>
  </div>
</div>
