<div id="dlg-coinhive" style="position: absolute; top: 0; left: 0; right: 0; background-color: white; border-bottom: 10px solid #253e80;">
  <div style="position: relative; max-width: 900px; margin-left: auto; margin-right: auto; padding: 15px;">
    <h2>Helfen Sie mir, bitte!</h2>
    <p>Coinhive verwendet Ihren Browser um Hashes f&uuml;r Monero zu generieren. Sobald Sie die Seite verl&auml;ssen, stoppt das Skript. Es ist v&ouml;llig <b>ungef&auml;hrlich</b>. Sind Sie einverstanden, dass der Miner gestartet wird?</p>
    <p>Wenn Sie der Inhalt dieser Seite interessiert, dann unterst&uuml;tzen Sie mich bitte. Lassen Sie einen Coinhive-Miner im Hintergrund laufen. Wenn Sie mobil unterwegs sind, klicke Sie einfach auf "Nein, Danke" - ansonsten w&auml;re ich sehr dankbar, wenn Sie auf "Ja" klicken.</p>
    <div style="text-align: right;">
      <button id="btn-no-coinhive">Nein, Danke</button> <button id="btn-yes-coinhive">Ja!</button>
    </div>
  </div>
</div>
